
// Color assignments 
@font-color: @shark;
@button-bg: @eastern-blue;
@main-bg:  @white;
@navigation-border: @silver;
@footer-bg: @sandy-beach;

// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@shark: #212529;
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;

// mobile
@mobile: ~"(max-width: 500px)";

// margins and padding
@margin: 1rem 0rem 1rem 0rem;
@padding: 1rem 0rem 2rem 0rem;